@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Roboto;
	src: url("$lib/assets/fonts/RobotoSlab-VariableFont_wght.ttf");
}

/* Responsives Scrollsnapping ab breakpoint lg:... */
@media screen and (min-width: 1024px) {
	html {
		scroll-snap-type: y mandatory;
	}
	
	.page-container {
		scroll-snap-align: start;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

h1 {
	font-weight: bold;
}
