@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Roboto;
	src: url("$lib/assets/fonts/RobotoSlab-VariableFont_wght.ttf");
}

/* Responsives Scrollsnapping ab breakpoint lg:... */
@media screen and (min-width: 1024px) {
	html {
		scroll-snap-type: y mandatory;
	}
	
	.page-container {
		scroll-snap-align: start;
	}
}

.bg-gradient-pink {
	/*
	background-image: linear-gradient(to right, #f1aecc, #fefdfd);
	 */
	background: linear-gradient(90deg, rgba(241,174,204,1) 0%, rgba(254,253,253,1) 55%);
}

.bg-gradient-pink-to-blue {
	/*background-image: linear-gradient(to right bottom, #e56ea5, #bd7baf, #a482b5, #868bbc, #7e8ebe, #6894c3, #43a0cc, #02b3dc);*/
	/*background-image: linear-gradient(to right bottom, #ff82e4, #d296ff, #9ba8ff, #5cb5ff, #00bdff);*/ /*Alt*/
	background-image: linear-gradient(to right bottom, #e66ea5, #00b4dc);
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

h1 {
	font-weight: bold;
}
